<header class="header">
  <span class="left"><a href="#/users"><img src="assets/images/users.png" alt=""></a></span>
  <span>Events</span>
  <span class="right"><a href="#/profile"><img src="assets/images/profile.png"></a></span>
</header>

<div class="event">
  <img src="{{event.image_url}}" alt="">
  <span style="color: yellow;">{{event.name}}</span></br>
  <span style="font-size: 20px;color: white;">{{event.description}}</span>
</div>
<div class="options">
  <div class="option" ng-click="pay(event)">Pay Now</div>
  <div class="option" ng-click="inviteAll(event)">Invite friends</div>
</div>
