<header class="header">
  <span class="left"><a href="#/profile"><img src="assets/images/profile.png" alt=""></a></span>
  <span>Questions</span>
  <span class="right"><a href="#/events"><img src="assets/images/events.png"></a></span>
</header>

<div ng-repeat="question in questions" class="questions" ng-show="current == question">
    <span>{{question.question}}</span>

    <div class="options">
        <div class="option" ng-repeat="option in question.options" ng-click="answer(question.id, option.id)">
            {{option.option}}
        </div>
    </div>
</div>
